/*Index*/
*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/fondo.webp);
}
.gridPadre {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-template-areas: 
    "seccionA   seccionA    seccionB    seccionB"
    "seccionA   seccionA    seccionB    seccionB"
    "footer     footer      footer      footer"
    ;
}

.boton-navbar{
    color: pink;
}

.seccionA {

    text-align:justify;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 28px;
    grid-area: seccionA;
    
    

}
.torta1 {
    grid-area: seccionB;
    border-radius: 100%;
    max-width: 200%;
    width: 400px;
    height: 400px;
 margin: 100px 10px 50px 60px;
}


footer {
    grid-area: footer;
    border: solid black 1px;
    background-color: black;
    text-align: center;
    color: pink;

}
.instagram{
    width: 20px;
    height: 20%;
}


/*Productos*/
.gridProductos{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-template-areas: 
    "seccionA   carrousel"
    "seccionA   carrousel"
    "footer     footer"
    ;
    
}

.img{
    margin: 100px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 20%;
}
.texto{
    color: black;
}
.h2-carrousel-1{
    color: antiquewhite;
}


/*Preguntas frecuentes*/

.contenedor{
    display: flex;
    flex-flow: row nowrap;
}

.pregunta{
    background-color: #D2EBF1ff;
    width: 33.3%;
    border: 2px solid black;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
text-align: justify;
}

/*Ubicacion.html*/

.contenedor-ubicacion{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 
    "seccionA   seccionA    seccionA"
    "mapa       mapa        mapa"
    "footer     footer      footer"
    ;
}

.mapa iframe{
    margin-left: 20px;
    border-radius: 10%;
    grid-area: mapa;
}

/*Contacto.html*/
.grid-contacto{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
    grid-template-areas: 
    

    "seccionA   seccionA    form"
    
    "footer     footer      footer"
    ;
}

.formulario{
    margin: 10px;
    padding: 10px;
    grid-area: form;
}

.mensaje{
    height: 150px;
}
