@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap");
/*Index.html*/
/*Productos*/
/*Preguntas frecuentes*/
/*Ubicacion.html*/
/*Contacto.html*/
* {
  box-sizing: border-box;
}

body {
  font-family: merienda, sans-serif;
  background-image: url(../img/estasi.jpg);
  /*background: linear-gradient(to left, #2c3e50, #bdc3c7);*/
}

.gridPadre {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 120vh;
}

/*display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: auto;
	grid-template-areas: 
    "index 		index		index		index"
    "footer     footer      footer      footer";
}
*/
.f-index {
  display: flex;
  margin-top: auto;
  justify-content: center;
  padding: 5px;
}
.f-index .instagram {
  align-content: end;
  margin: 10px;
  width: 30px;
}

.index {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.index .h1-index {
  background-color: rgba(248, 249, 250, 0.8);
  border: 2px solid black;
  width: 600px;
  margin: 50px;
  padding: 50px;
  text-align: center;
  color: black;
  transition: all 4s;
}

.h1-index:hover {
  width: 1000px;
  border: 3px solid grey;
  background-color: rgba(208, 82, 155, 0.8);
}

.transicion {
  flex-direction: column;
  align-content: center;
  margin-top: 21%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 18px;
  background-color: rgba(248, 249, 250, 0.8);
  border: 2px solid black;
  width: 600px;
  height: 100px;
  padding: 15px;
  color: black;
}

.boton-navbar {
  color: pink;
}

.seccionA {
  text-align: justify;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 28px;
  grid-area: seccionA;
  background-color: rgba(248, 249, 250, 0.8);
  font-size: 18px;
  word-spacing: 5px;
  line-height: 35px;
}

footer {
  grid-area: footer;
  border: solid black 1px;
  background-color: black;
  text-align: center;
  color: pink;
}

.instagram {
  width: 20px;
  height: 20%;
}

.gridProductos {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: "seccionA   carrousel" "seccionA   carrousel" "footer     footer";
}

.img {
  margin: 100px;
  max-width: 400px;
  max-height: 300px;
  border-radius: 20%;
}

.texto {
  color: black;
}

.h2-carrousel-1 {
  color: antiquewhite;
}

.contenedor {
  display: flex;
  flex-flow: row nowrap;
}

.pregunta {
  background: linear-gradient(to left, #2980b9, #6dd5fa);
  width: 33.3%;
  border: 2px solid black;
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
  text-align: justify;
}

.contenedor-ubicacion {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  gap: 5px;
  grid-template-areas: "seccionA   mapa" "footer     footer";
}

.mapa {
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 25px;
  border-radius: 10%;
  grid-area: mapa;
  width: 80%;
}

.nav-link .active {
  box-shadow: 0px 10px 0px #bdc3c7;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #339989;
}

.active {
  color: #339989;
}

.grid-contacto {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: auto;
  grid-template-areas: "seccionA   seccionA    form" "footer     footer      footer";
}

.formulario {
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 10px;
  grid-area: form;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f8f9fa;
}

.mensaje {
  height: 150px;
}

/*# sourceMappingURL=estilo.css.map */
